# My develop directory
.venv/

# Data Volume
data/

# My configurations:
db.ini
deploy_key_rsa
requirements.local

# Pycharm
.idea

# Vs Code
.vscode

# Mac OS
.DS_Store

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build